/* .navSpecial{
    background-color: rgba(49, 39, 194, 0.747);
} */

.pageDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(110, 185, 255, 0.685);
}

.navSpecial {
  text-align: center;
  font-weight: bold;
}
button {
  margin: 5px;
}


.containerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    /* justify-content: left; */
    align-items: stretch;
    align-content: stretch;
    /* background-color: yellow; */
}

.containerFlex :nth-child(1) {order: 0; }

.containerItem {
    height: 50%;
    width: 30%;
    flex-direction: row;
    flex-shrink: 10;
    text-align: center;
    margin: 10px;
    /* background-color: red; */
}

/* podświetlnie najechanej karty */
.mat-card:hover {
  background-color: rgb(101, 172, 219);
}
/*
.mat-card-header {
    background-color: rgba(146, 201, 252, 0.685);
    text-align: center;
}
.mat-card-content {
    background-color: rgba(146, 201, 252, 0.685);
}
.mat-card-actions {
    background-color: rgba(146, 201, 252, 0.685);
} */

/* poświetlenie wybranego rekordu */
.highlight {
  background: rgb(51, 143, 204);
}

.not-highlight {
  background: #fbeafc;
}


.fontStyleBold {
    font-weight: bold;
}


.justify-content-center {
  display: flex !important;
  justify-content: center !important;
  margin-top: 10px;
}





.containerFlexForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  /* justify-content: left; */
  align-items: stretch;
  align-content: stretch;
   /*background-color: yellow; */
}

.containerFlexForm :nth-child(1) {order: 0; }

.containerItemForm {
  height: 20%;
  width: 20%;
  max-width: 200px;
  flex-direction: row;
  flex-shrink: 2;
  text-align: center;
  margin: 5px;
  /*background-color: red; */
}

.alignButtonInFilter {
  margin-left: 2px;
}



.buttonCard {
  align-items: center;
  /* width: 80px; */
  margin: 5px;
  background-color: rgb(35, 168, 17);
}