<div class="pageDiv">
  <div class="columnFlex">
    <div class="columnFlexItemEq">
      <form
        class="container"
        [formGroup]="eqInformation"
        (ngSubmit)="saveEquipment()"
      >
        <div class="containerFlex">
          <div class="containerItem">
            <label
              >Nazwa ekwipunku:
              <input
                type="text"
                formControlName="equipmentName"
                maxlength="20"
                minlength="5"
                class="form-control"
              />
              <div
                *ngIf="
                  equipmentName.invalid &&
                  (equipmentName.dirty || equipmentName.touched)
                "
              >
                <div class="errorDiv">
                  <span *ngIf="equipmentName.errors?.required">
                    Uzupelnij wartosc
                  </span>
                  <span *ngIf="equipmentName.errors?.maxlength">
                    Przekroczono maksymalna długość 20 znaków
                  </span>
                  <span *ngIf="equipmentName.errors?.minlength">
                    Minimum 5 znaków
                  </span>
                </div>
              </div>
            </label>
          </div>

          <div class="containerItem">
            <div [ngSwitch]="heroId">
              <div *ngSwitchCase="1">
                <img
                  mat-card-image
                  src="assets/Caitlyn.jpg"
                  alt="Zdjęcie Caitlyn"
                />
              </div>

              <div *ngSwitchCase="2">
                <img
                  mat-card-image
                  src="assets/Darius.jpg"
                  alt="Zdjęcie Darius"
                />
              </div>

              <div *ngSwitchCase="3">
                <img
                  mat-card-image
                  src="assets/Varus.jpg"
                  alt="Zdjęcie Varus"
                />
              </div>

              <div *ngSwitchCase="4">
                <img
                  mat-card-image
                  src="assets/Janna.jpg"
                  alt="Zdjęcie Janna"
                />
              </div>

              <div *ngSwitchCase="5">
                <img
                  mat-card-image
                  src="assets/Ahrii.jpg"
                  alt="Zdjęcie Ahrii"
                />
              </div>
              <!-- TUTAJ RESZTA BOHATEROW !!           -->
            </div>
          </div>


          <div class="containerItemForm">
            <label for="gameId"
              >Gra:      
                <select
                [disabled]="wasChangedGame"
                id="gameId"
                formControlName="gameId"
                class="form-control"
                name="gameId"
                (change)="gameChange($event.target.value)"
                >
                  <option
                    *ngFor="let item of gamesArray"
                    [value]="item.id"
                    >{{
                      item.gameName
                    }}</option
                  >
                </select>
            
            </label>
          </div>

          <!-- DO USUNIECIA ngModel - nie korzysta sie juz z tego -->
          <div class="containerItem">
            <label for="hero"
              >Bohater:          
                <select
                id="hero"
                formControlName="hero"
                class="form-control"
                [(ngModel)]="heroId"
                name="hero"
                (change)="heroChange($event.target.value)"
                >
                  <option *ngFor="let hero of filterHeroesOfType()" [value]="hero.id">{{
                    hero.heroName
                  }}</option>
                </select>
                 <!-- <p> Wybrany bohater: {{heroId}} </p> -->
              <div *ngIf="hero.invalid">
                <div class="errorDiv">
                  <span *ngIf="hero.errors?.required">
                    Uzupelnij wartosc - bohater jest wymagany
                  </span>
                </div>
              </div>
            </label>
          </div>

          <div class="containerItem">
            <label for="heroLvl"
              >Poziom bohatera:
              <select
                id="heroLvl"
                formControlName="heroLvl"
                class="form-control"
                name="heroLvl"
                (change)="lvlChange($event.target.value)"
              >
                <option *ngFor="let lvl of lvlArray" [value]="lvl">{{
                  lvl
                }}</option>
              </select>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="hero"
              >Przedmiot nr 1:
              <select
                id="firstItem"
                formControlName="firstItem"
                class="form-control"
                [(ngModel)]="firtItemId"
                name="firstItem"
                (change)="firstItemChange($event.target.value)"
              >
                <!-- <option *ngFor="let item of itemsArray" [value]="item.id">{{item.itemName +' minimalny poziom: '+item.minHeroLvl}}</option>  -->
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
              <div *ngIf="firstItem.invalid">
                <div class="errorDiv">
                  <span *ngIf="firstItem.errors?.required">
                    Uzupelnij wartosc - Ekwipunek musi posiadać minimum
                    przedmiot nr 1.
                  </span>
                </div>
              </div>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="secondItem"
              >Przedmiot 2:
              <select
                id="secondItem"
                formControlName="secondItem"
                class="form-control"
                [(ngModel)]="secondItemId"
                name="secondItem"
                (change)="secondItemChange($event.target.value)"
              >
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="thirdItem"
              >Przedmiot 3:
              <select
                id="thirdItem"
                formControlName="thirdItem"
                class="form-control"
                [(ngModel)]="thirdItemId"
                name="thirdItem"
                (change)="thirdItemChange($event.target.value)"
              >
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="forthItem"
              >Przedmiot 4:
              <select
                id="forthItem"
                formControlName="forthItem"
                class="form-control"
                [(ngModel)]="fourthItemId"
                name="forthItem"
                (change)="forthItemChange($event.target.value)"
              >
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="fifthItem"
              >Przedmiot 5:
              <select
                id="fifthItem"
                formControlName="fifthItem"
                class="form-control"
                [(ngModel)]="fifthItemId"
                name="fifthItem"
                (change)="fifthItemChange($event.target.value)"
              >
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
            </label>
          </div>

          <div class="containerItem" *ngIf="heroId">
            <label for="sixthItem"
              >Przedmiot 6:
              <select
                id="sixthItem"
                formControlName="sixthItem"
                class="form-control"
                [(ngModel)]="sixthItemId"
                name="sixthItem"
                (change)="sixthItemChange($event.target.value)"
              >
                <option
                  *ngFor="let item of filterItemsOfType()"
                  [value]="item.id"
                  >{{
                    item.itemName + " minimalny poziom: " + item.minHeroLvl
                  }}</option
                >
              </select>
            </label>
          </div>
        </div>

        <div *ngIf="gold >= statistic.totalCost">
          <button
            class="btn btn-success"
            [disabled]="eqInformation.invalid"
            type="submit"
          >
            Zatwierdź
          </button>
        </div>
        <div *ngIf="gold < statistic.totalCost">
          <div class="alert alert-danger" role="alert">
            Przekroczyłeś dostępną ilość złota - zmień przedmioty, lub zwiększ
            poziom bohatera
          </div>
        </div>

        <button class="btn btn-default" type="button" (click)="cancel()">
          Anuluj
        </button>
      </form>
    </div>

    <div class="columnFlexItem" *ngIf="heroId">
      <div class="statisticInfo">
        Statystyki:
      </div>
      <div class="statisticFlex">
        <div class="statisticFlexItem">Dostępne złoto : {{ gold }}</div>

        <div class="statisticFlexItem">
          Całkowity koszt : {{ statistic.totalCost }}
        </div>
        <div class="statisticFlexItem">
          Punkty życia : {{ statistic.hitPoints }}
        </div>
        <div class="statisticFlexItem">
          Punkty życia - regeneracja co 5 sek : {{ statistic.hitPointsRegen }}
        </div>
        <div class="statisticFlexItem">Mana : {{ statistic.mana }}</div>
        <div class="statisticFlexItem">
          Mana - regeneracja co 5 sek : {{ statistic.manaRegen }}
        </div>

        <div class="statisticFlexItem">Zasięg : {{ statistic.range }}</div>
        <div class="statisticFlexItem">
          Obrażenia fizyczne : {{ statistic.attackDamage }}
        </div>
        <div class="statisticFlexItem">
          Szybkość ataku : {{ statistic.attackSpeed }}
        </div>
        <div class="statisticFlexItem">Pancerz : {{ statistic.armour }}</div>
        <div class="statisticFlexItem">
          Odporność na magie : {{ statistic.magicResistance }}
        </div>
        <div class="statisticFlexItem">
          Szybkość ruchu : {{ statistic.movementSpeed }}
        </div>
        <div class="statisticFlexItem">Moc : {{ statistic.abillityPower }}</div>
        <div class="statisticFlexItem">
          Skrócenie czasu odnowienia : {{ statistic.cooldownReduction }}
        </div>

        <div class="statisticFlexItem">
          Przebicie pancerza : {{ statistic.armourPenetration }}
        </div>
        <div class="statisticFlexItem">
          Przebicie pancerza % : {{ statistic.armourPenetrationProc }}
        </div>
        <div class="statisticFlexItem">
          Przebicie odporności na magie : {{ statistic.magicPenetration }}
        </div>
        <div class="statisticFlexItem">
          Przebicie odporności na magie % : {{ statistic.magicPenetrationProc }}
        </div>
        <div class="statisticFlexItem">
          Kradzież życia : {{ statistic.lifeSteal }}
        </div>
        <div class="statisticFlexItem">
          Wampiryzm zaklęć : {{ statistic.apLifeSteal }}
        </div>
        <div class="statisticFlexItem">
          Nieustępliwość : {{ statistic.tenacity }}
        </div>
        <div class="statisticFlexItem">
          Krytyczne uderzenie % : {{ statistic.criticalChance }}
        </div>
        <div class="statisticFlexItem">
          Wzmocnienie potionów : {{ statistic.additionalPotionPower }}
        </div>

        <div class="statisticFlexItem">
          Życie co cios : {{ statistic.additionalHitPointsPerHit }}
        </div>
        <div class="statisticFlexItem">
          Złoto co 10 sek : {{ statistic.additionalGoldPerTenSec }}
        </div>
        <div class="statisticFlexItem">
          Dodatkowe umiejętności :
          <textarea readonly class="form-control" id="textArea" rows="2">
 {{ statistic.description }} </textarea
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- </div>

</div> -->
