.errorDiv {
    color: red;
    font-weight: bold;
}
input {
    margin-bottom: 10px;
}
.textSpecial {
    font-weight: bold;
}
.pageDiv {
  width: 100%;
  height: 100%;
  min-height: 880px;
  background-color: rgba(110, 185, 255, 0.685);
}

.navSpecial {
text-align: center;
font-weight: bold;
}
button {
margin: 5px;
}


.containerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  /* justify-content: left; */
  align-items: stretch;
  align-content: stretch;
  /* background-color: yellow; */
}

.containerFlex :nth-child(1) {order: 0; }

.containerItem {
  height: 50%;
  width: 30%;
  flex-direction: row;
  flex-shrink: 10;
  text-align: center;
  margin: 10px;
  /* background-color: red; */
}

/* podświetlnie najechanej karty */
.mat-card:hover {
background-color: rgb(101, 172, 219);
}
/*
.mat-card-header {
  background-color: rgba(146, 201, 252, 0.685);
  text-align: center;
}
.mat-card-content {
  background-color: rgba(146, 201, 252, 0.685);
}
.mat-card-actions {
  background-color: rgba(146, 201, 252, 0.685);
} */

/* poświetlenie wybranego rekordu */
.highlight {
background: rgb(51, 143, 204);
}

.not-highlight {
background: #fbeafc;
}

.fontStyleBold {
    font-weight: bold;
}
.justify-content-center {
  display: flex !important;
  justify-content: center !important;
  margin-top: 0px;
}
.alignButtonInFilter {
  margin-left: 2px;
}

.mat-card-image {
  margin-top: 10px !important;
  max-width: 75px !important;
  width: 75px !important;
  height: 75px !important;
  max-height: 75px !important;
}


.heroPicture {
  max-width: 120px;
  width: 120px;
  height: 120px;
  max-height: 120px;
}