<!-- <form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Rejestracja</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Zarejestruj</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Anuluj</button>
  </div>
  
</form> -->
<form [formGroup]="profileInformation" (ngSubmit)="register()">
  <div *ngIf="!profileInformation.valid">
    <div class="errorDiv">
      <p *ngIf="profileInformation.hasError('requiredFieldsValidatorInvalid')">
        Uzupelnij wszystkie pola
      </p>
    </div>
  </div>

  <h2 class="text-primary">Rejestracja</h2>
  <div class="containerFlex">
    <div class="containerItem">
      <label>
        Nazwa użytkownika:
        <input
          type="text"
          formControlName="userName"
          placeholder="Nazwa użytkownika"
          maxlength="20"
          minlength="5"
        />
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
          <div class="errorDiv">
            <span *ngIf="userName.errors?.required">
              Uzupelnij wartosc
            </span>
            <span *ngIf="userName.errors?.maxlength">
              Przekroczono maksymalna długość 20 znaków
            </span>
            <span *ngIf="userName.errors?.minlength">
              Minimum 5 znaków
            </span>
          </div>
        </div>
      </label>
    </div>

    <div class="containerItem">
      <label>
        Hasło:
        <input
          formControlName="password"
          type="password"
          placeholder="Hasło"
          maxlength="8"
          minlength="4"
        />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="errorDiv">
            <span *ngIf="password.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="password.errors?.maxlength">
              Przekroczono maksymalna długość 8 znaków
            </span>
            <span *ngIf="password.errors?.minlength">
              Minimalna długość to 4 znaki
            </span>
          </div>
        </div>
      </label>
    </div>

    <div class="containerItem">
      <label>
        E-mail:
        <input
          type="email"
          formControlName="email"
          placeholder="E-mail"
          maxlength="20"
          email
        />
        <div *ngIf="email.dirty || email.touched">
          <div class="errorDiv">
            <span *ngIf="email.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="email.errors?.maxlength">
              Przekroczono maksymalna długość 20 znaków
            </span>
            <span *ngIf="email.errors?.email">
              Popraw zawartość
            </span>
          </div>
        </div>
      </label>
    </div>

    <div class="containerItem">
      <label>
        Imie:
        <input
          type="text"
          formControlName="firstName"
          placeholder="Imie"
          maxlength="20"
        />
        <div *ngIf="firstName.dirty || firstName.touched">
          <div class="errorDiv">
            <span *ngIf="firstName.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="firstName.errors?.maxlength">
              Przekroczono maksymalna długość 20 znaków
            </span>
          </div>
        </div>
      </label>
    </div>

    <div class="containerItem">
      <label>
        Nazwisko:
        <input
          type="text"
          formControlName="surname"
          placeholder="Nazwisko"
          maxlength="50"
        />
        <div *ngIf="surname.dirty || surname.touched">
          <div class="errorDiv">
            <span *ngIf="surname.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="surname.errors?.maxlength">
              Przekroczono maksymalna długość 50 znaków
            </span>
          </div>
        </div>
      </label>
    </div>

    <div class="containerItemDate">
      <label> Data urodzenia: </label>
      <input
        class="form-control"
        #datepickerYMD="bsDatepicker"
        bsDatepicker
        formControlName="dateOfBirth"
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
      />
      <!-- 
        <bs-datepicker-inline [bsValue]="bsInlineValue"  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"></bs-datepicker-inline> -->

      <div *ngIf="dateOfBirth.dirty || dateOfBirth.touched">
        <div class="errorDiv">
          <span *ngIf="dateOfBirth.errors?.required">
            Uzupelnij wartość
          </span>
          <span *ngIf="dateOfBirth.errors?.invalidDate">
            Uzupelnij wartość
          </span>
        </div>
      </div>
    </div>

    <!-- <div class="containerItem">
      <label> Data urodzenia: </label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="year"
        [startAt]="startDate"
      ></mat-datepicker>
    </div> -->

    <!-- <div class="containerItem">
      <label> Data urodzenia: </label>
      <input matInput [matDatepicker]="pickerdateOfBirth"  formControlName="dateOfBirth" readonly />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerdateOfBirth"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerdateOfBirth></mat-datepicker> 
  
    </div> -->
  </div>
  <!-- <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="profileInformation.invalid" type="submit">Zarejestruj</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
        Anuluj
    </button>     !profileInformation.hasError('requiredFieldsValidatorInvalid')
  </div> -->
  <button
    class="btn btn-success"
    [disabled]="profileInformation.invalid"
    type="submit"
  >
    Zarejestruj
  </button>
  <button class="btn btn-default" type="button" (click)="cancel()">
    Anuluj
  </button>
</form>
