<div class="pageDiv">
  <nav class="navSpecial">  
      <a class="navbar-brand" >Zarządzanie użytkownikami grupy</a>
  </nav>
   <button type="button" class="btn btn-success"  (click)="returnToGroups()">Powrót do grup</button>
  <!--<button type="button" class="btn btn-success" [disabled]="!selectedGroup && !selectedMyGroup" (click)="editSelectedGroup()">Edycja grupy</button>
  <button type="button" class="btn btn-success" [disabled]="!selectedGroup && !selectedMyGroup" (click)="removeGroup()">Usuń grupe</button>
  <button type="button" class="btn btn-success" [disabled]="!selectedGroup && !selectedMyGroup" (click)="manageUsers()">Zarządzaj użytkownikami grupy</button>
  <button type="button" class="btn btn-success" (click)="reviewGroupUsers()">Przeglądaj użytkowników grupy</button> -->


     <form
      class="container"
      [formGroup]="formFilter"
      (ngSubmit)="reloadValues()"
    >
      <div class="containerFlexForm">
        <div class="containerItemForm">
          <label
            >Nazwa Użytkownika:
            <input
              type="text"
              formControlName="userNameLikeForm"
              maxlength="20"
              class="form-control"
            />
            <div
              *ngIf="
              formFilter.invalid &&
                (formFilter.dirty || formFilter.touched)
              "
            >
              <div class="errorDiv">
                <span *ngIf="formFilter.errors?.maxlength">
                  Przekroczono maksymalna długość 20 znaków
                </span>
              </div>
            </div>
          </label>
        </div>             
      </div>      
      <div class="alignButtonInFilter">
          <button class="btn btn-info" type="button" (click) = "reloadValues()" >Filtruj</button>

          <button class="btn btn-info" type="button" (click) = "resetFilter()">Resetuj filtry</button>
      </div>   
    </form>




  <div class="justify-content-center">
      <pagination 
      [boundaryLinks]="true" 
      [itemsPerPage]="pagination.itemsPerPage"
      [totalItems] ="pagination.totalItems"
      [maxSize] = "2"       
      [rotate] = "rotate"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText = "&rsaquo;"
      firstText = "&laquo;"
      lastText = "&raquo;"
  >
  </pagination>
  </div>

      <div *ngIf = "loading$ | async">
          <mat-spinner></mat-spinner>
      </div>

      <div class="containerFlex" >
        <div *ngIf="usersFromGroup.length <= 0">
          <div class="fontStyleBold">         
             Brak użytkowników w grupie
          </div>          
        </div>
          <div class="containerItem" *ngFor="let item of usersFromGroup; let i = index">
            <!-- <mat-card (click)="higlightSelected(i,item.Id, item.UserName)" [ngClass]="{'highlight' : i === selectedCardIndex, 'not-highlight' : i !== selectedCardIndex}" -->
              <mat-card>
                <img mat-card-image src="assets/User.png" alt="Zdjęcie user">
                <mat-card-content>
                  Nazwa użytkownika: 
                  <div class="fontStyleBold">
                      {{item.userName}}
                  </div>
                </mat-card-content>    
                                  
              </mat-card>
          </div>
      </div>

  </div>