<!-- <form [formGroup]="profileInformation" (ngSubmit)="modifyData()"> -->
  <div class="pageDiv">

<label>
  <div class= "distanceTopDiv">
    
  </div>
</label>
    
    
  <form
  class="container"
  [formGroup]="profileInformation"
  (ngSubmit)="modifyData()"
>

  <div *ngIf="!profileInformation.valid">
    <div class="errorDiv">
      <p *ngIf="profileInformation.hasError('requiredFieldsValidatorInvalid')">
        Uzupelnij wszystkie pola
      </p>
    </div>
  </div>

  <div class="containerFlex">
   
    <div class="containerItem">
      <label>
        
        <div class="passwordFirstInput">
          Nowe Hasło:
        <input
          formControlName="passwordNew"
          type="password"
          placeholder="Hasło"
          maxlength="8"
          minlength="4"
        />
      </div>

      
        <div *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)">
          <div class="errorDiv">
            <span *ngIf="passwordNew.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="passwordNew.errors?.maxlength">
              Przekroczono maksymalna długość 8 znaków
            </span>
            <span *ngIf="passwordNew.errors?.minlength">
              Minimalna długość to 4 znaki
            </span>
          </div>
        </div>

     
      </label>
    </div>
    <div class="containerItem">
      <label>
        Potwierdź Hasło:
        <input
          formControlName="passwordNewApproved"
          type="password"
          placeholder="Hasło"
          maxlength="8"
          minlength="4"
        />
        <div *ngIf="passwordNewApproved.invalid ">
          <div class="errorDiv">
            <span *ngIf="passwordNewApproved.errors?.required">
              Uzupelnij wartość
            </span>
            <span *ngIf="passwordNewApproved.errors?.maxlength">
              Przekroczono maksymalna długość 8 znaków
            </span>
            <span *ngIf="passwordNewApproved.errors?.minlength">
              Minimalna długość to 4 znaki
            </span>
          </div>
        </div>
      </label>
    </div>
   

  </div>
  <button
    class="btn btn-success"
    [disabled]="profileInformation.invalid"
    type="submit"
  >
    Zatwierdź zmiany
  </button>
  <button class="btn btn-default" type="button" (click)="cancel()">
    Anuluj
  </button>

</form>
</div>   
