<div *ngIf = "loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div class="pageDiv">
  <div class="justify-content-center">
    <pagination 
      [boundaryLinks]="true" 
      [itemsPerPage]="pagination.itemsPerPage"
      [totalItems] ="pagination.totalItems"
      [maxSize] = "2"       
      [rotate] = "rotate"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText = "&rsaquo;"
      firstText = "&laquo;"
      lastText = "&raquo;"
    >
    </pagination>
</div>

<!-- <button type="button" class="btn btn-success"  [disabled]="userId > 0" (click)="changePassword()">Zmień hasło</button> -->

  <div class="containerFlex" >
    <div *ngIf="usersFromApp.length <= 0">
      <div class="fontStyleBold">         
         Brak użytkowników w grupie
      </div>          
    </div>


      
      <div class="containerItem" *ngFor="let item of usersFromApp; let i = index">          
          <mat-card>
            <img mat-card-image src="assets/User.png" alt="Zdjęcie user">  
            <mat-card-content>
              Nazwa użytkownika: 
              <div class="fontStyleBold">
                  {{item.userName}}
              </div>
            </mat-card-content>    
            <mat-card-actions>
              <button mat-button class="buttonCard" (click)="editUser(item.userId)">Edytuj użytkownika</button>
            </mat-card-actions>           
          </mat-card>
      </div>
    </div>
</div>

